* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
}

#root {
	display: flex;
	justify-content: center;
}

.App {
	width: 800px;
}

.post {
	display: flex;
	padding: 15px;
	border: 2px solid rgb(216, 20, 255);
	margin-top: 15px;
	justify-content: space-between;
	align-items: center;
}



.post-enter {
	transform: translateX(-700px);
	opacity: 0;
}

.post-enter-active {
	transform: translateX(0px);
	transition: all 400ms ease-in;
	opacity: 1;
}

.post-exit {
	opacity: 1;
}

.post-exit-active {
	opacity: 0;
	transform: translateX(800px);
	transition: all 400ms ease-in;
}